

  <div class="navbar-rocket-bet">
    <div class="navbar-leftpart hidden-xs">
      <%= link_to 'RocketBet', games_path %>
    </div>
    <div class="navbar-rightpart hidden-xs">

<!-------------------FORM TO FIND A GAME ------------------------------>
      <% if user_signed_in? %> <!--USER CONNECTED -->

        <%= form_tag games_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "France, A ..."
          %>
        <% end %>
 <!-------------------FORM TO FIND A GAME ------------------------------>


        <% if current_user.group %>
          <%= link_to "#{current_user.group.name}", grouperank_games_path %>
        <% end %>

        <p>|</p>

        <%= link_to 'Classement général', global_games_path %>

        <p>|</p>

        <%= link_to 'My profile', user_path(current_user) %>

        <p>|</p>

        <p>Photo</p>

        <p>|</p>

        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
        <% end %>

      <% else %> <!--USER NOT CONNECTED -->

        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
    </div>

    <div class="hidden-sm hidden-md hidden-lg">
      <div class="container">
        <div class="row">
          <% if user_signed_in? %> <!--USER CONNECTED -->
            <div class="col-xs-3">r
              <%= link_to 'All games', games_path, class: 'btn btn-default' %>
            </div>
            <div class="col-xs-3">
              <% if current_user.group %>
                <%= link_to "#{current_user.group.name}", grouperank_games_path, class: 'btn btn-default' %>
              <% end %>
            </div>
            <div class="col-xs-3">
              <%= link_to 'Profile', user_path(current_user), class: 'btn btn-default' %>

            </div>
            <div class="col-xs-3">
              <%= link_to destroy_user_session_path, class: 'btn btn-default', method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </div>
          <% else %>
            <div class="container">
              <div class="row">
                <div class="col-xs-3 text-center">
                  <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>









