<div class="container text-center">
  <div class="rank-style">
    <h1>Classement général</h1>
    <% users = @users.sort_by {|user| user.points}.reverse %>
    <% position = 1 %>
    <% users.each do |user| %>
      <%= link_to user_path(user) do %>
        <% if user == current_user %>
          <p style="font-weight: bolder">
            <% if user.pseudo && user.pseudo != "" %>
              <%= position %> - <%= cl_image_tag user.photo, height: 90, width: 90, crop: :fill, :gravity=>"face", :radius=>"max", default_image: 'avatar.jpg' %> <%= user.pseudo %> : <%= user.points %> points
            <% else %>
              <%= position %> - <%= cl_image_tag user.photo, height: 90, width: 90, crop: :fill, :gravity=>"face", :radius=>"max", default_image: 'avatar.jpg' %> <%= user.email %> : <%= user.points %> points
            <% end %>
          </p>
        <% else %>
          <p>
            <% if user.pseudo && user.pseudo != "" %>
              <%= position %> - <%= cl_image_tag user.photo, height: 90, width: 90, crop: :fill, :gravity=>"face", :radius=>"max", default_image: 'avatar.jpg' %> <%= user.pseudo %> : <%= user.points %> points
            <% else %>
              <%= position %> - <%= cl_image_tag user.photo, height: 90, width: 90, crop: :fill, :gravity=>"face", :radius=>"max", default_image: 'avatar.jpg' %> <%= user.email %> : <%= user.points %> points
            <% end %>
          </p>
        <% end %>
      <% end %>
      <% position += 1 %>
    <% end %>

  </div>


</div>
