

<div class="container">
  <%= form_tag games_path, method: :get, class: 'form-inline to-bottom-30' do %>
    <%= select_tag 'team', options_for_select(@teams.collect{ |u| u }), class: 'form-control' %>
    <%= submit_tag "Par pays", class: "btn btn-default" %>
  <% end %>
</div>



<% if params[:team].blank? %>
  <div class="container">
    <div class="row">
      <h1>All games</h1>

      <!------- Card of all games --------------------------->
      <% @poules.each do |poule|%>
        <h2>Groupe <%= poule.name %></h2>
        <% poule.games.each do |game|%>
            <%= link_to game_path(game) do  %>
              <div class="col-xs-12 col-md-6">
                <div  class="match-card">

                  <div class="central-game-info">
                    <div class="home-team-lg text-center">
                      <p><%="#{game.team1}"%></p>
                      <%= image_tag(game.domflag) %>
                    </div>
                    <div class="final-score">
                      <div class="final-score-dom"><%= game.score1 %></div>
                      <div class="final-score-ext"><%= game.score2 %></div>
                    </div>
                    <div class="ext-team-lg text-center">
                      <p><%= "#{game.team2}" %></p>
                      <%= image_tag(game.extflag) %>
                    </div>
                  </div>

                  <% if current_user.admin == true %>
                    <div class="admin-games-links">
                      <p>
                        <%= link_to 'edit', edit_game_path(game) %> -
                        <%= link_to 'delete', game_path(game), method: :delete, data: {confirm: "Are you sure?"} %>
                      </p>
                    </div>
                  <% end %>

                  <div class="your-index-bet">
                    <% current_user.bets.each do |bet| %>
                      <% if bet.game.team1 == game.team1 && bet.game.team2 == game.team2 %>
                        <p>Ton pari : <%= bet.score1bet %> - <%= bet.score2bet %></p>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>

      <!------- Card of all games --------------------------->
    </div>
  </div>


<!-------------------- en cas de recherche avec le select pays------------>
<% else %>

  <div class="container">
    <h2><%= params[:team]%> : tous les matchs </h2>
    <div class="row">
      <% @games.each do |game| %>
        <% if game.team1 == params[:team].capitalize || game.team2 == params[:team].capitalize  || game.poule == params[:team].capitalize  %>
          <%= link_to game_path(game) do  %>
            <div class="col-xs-12 col-md-6">
              <div  class="match-card">

                <div class="central-game-info">
                  <div class="home-team-lg text-center">
                    <p><%="#{game.team1}"%></p>
                    <%= image_tag(game.domflag) %>
                  </div>
                  <div class="final-score">
                    <div class="final-score-dom"><%= game.score1 %></div>
                    <div class="final-score-ext"><%= game.score2 %></div>
                  </div>
                  <div class="ext-team-lg text-center">
                    <p><%= "#{game.team2}" %></p>
                    <%= image_tag(game.extflag) %>
                  </div>
                </div>

                <% if current_user.admin == true %>
                  <div class="admin-games-links">
                    <p>
                      <%= link_to 'edit', edit_game_path(game) %> -
                      <%= link_to 'delete', game_path(game), method: :delete, data: {confirm: "Are you sure?"} %>
                    </p>
                  </div>
                <% end %>

                <div class="your-index-bet">
                  <% current_user.bets.each do |bet| %>
                    <% if bet.game.team1 == game.team1 && bet.game.team2 == game.team2 %>
                      <p>Ton pari : <%= bet.score1bet %> - <%= bet.score2bet %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<!-------------------- en cas de recherche ------------>
<% end %>


<div class="container">
  <% if current_user.admin == true %>
    <%= link_to 'Add a match', new_game_path, class: 'btn btn-warning'  %>
  <% end %>
</div>







