

<div class="container">
</div>



<% if params[:team].blank? && params[:commit].blank? || params[:commit] == 'Tous les matchs' %>
  <div class="container">
    <div class="row">
      <div class="allgames-h1">
        <h1>All games</h1>
        <div class="colored-underline">
        </div>
        <div class="form-selector">
          <%= form_tag games_path, method: :get, class: 'form-inline' do %>
            <%= label_tag 'Par groupe' %>
            <%= submit_tag 'A', value: 'A',class: 'btn btn-primary to-left-15'%>
            <%= submit_tag 'B', value: 'B',class: 'btn btn-primary'%>
            <%= submit_tag 'C', value: 'C',class: 'btn btn-primary'%>
            <%= submit_tag 'D', value: 'D',class: 'btn btn-primary'%>
            <%= submit_tag 'E', value: 'E',class: 'btn btn-primary'%>
            <%= submit_tag 'F', value: 'F',class: 'btn btn-primary'%>
            <%= submit_tag 'G', value: 'G',class: 'btn btn-primary'%>
            <%= submit_tag 'H', value: 'H',class: 'btn btn-primary to-right-15'%>

            <%= label_tag 'Par pays' %>
            <%= select_tag 'team', options_for_select(@teams.collect{ |u| u }), class: 'form-control', :prompt => "#{params[:team]}", :onchange => "this.form.submit()" %>
            <%= submit_tag 'Tous les matchs', value: 'Tous les matchs',class: 'btn btn-default to-left-15'%>
          <% end %>
        </div>
      </div>

      <!------- Card of all games --------------------------->
      <% @poules.each do |poule|%>
        <h2>Groupe <%= poule.name %></h2>
        <% poule.games.each do |game|%>
            <%= link_to game_path(game) do  %>
              <div class="col-xs-12 col-md-6">
                <div  class="match-card">

                  <div class="central-game-info">
                    <div class="home-team-lg text-center">
                      <p><%="#{game.team1}"%></p>
                      <%= image_tag(game.domflag) %>
                    </div>
                    <div class="final-score">
                      <div class="final-score-dom"><%= game.score1 %></div>
                      <div class="final-score-ext"><%= game.score2 %></div>
                    </div>
                    <div class="ext-team-lg text-center">
                      <p><%= "#{game.team2}" %></p>
                      <%= image_tag(game.extflag) %>
                    </div>
                  </div>

                  <% if current_user.admin == true %>
                    <div class="admin-games-links">
                      <p>
                        <%= link_to 'edit', edit_game_path(game) %> -
                        <%= link_to 'delete', game_path(game), method: :delete, data: {confirm: "Are you sure?"} %>
                      </p>
                    </div>
                  <% end %>

                  <div class="your-index-bet">
                    <% current_user.bets.each do |bet| %>
                      <% if bet.game.team1 == game.team1 && bet.game.team2 == game.team2 %>
                        <p>Ton pari : <%= bet.score1bet %> - <%= bet.score2bet %></p>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>

      <!------- Card of all games --------------------------->
    </div>
  </div>

<% elsif params[:commit] %>

  <div class="container">
    <div class="allgames-h1">
      <h1><%= params[:commit]%> : tous les matchs</h1>
      <div class="colored-underline2">
      </div>
      <div class="form-selector">
        <%= form_tag games_path, method: :get, class: 'form-inline' do %>
          <%= label_tag 'Par groupe' %>
          <%= submit_tag 'A', value: 'A',class: 'btn btn-primary to-left-15'%>
          <%= submit_tag 'B', value: 'B',class: 'btn btn-primary'%>
          <%= submit_tag 'C', value: 'C',class: 'btn btn-primary'%>
          <%= submit_tag 'D', value: 'D',class: 'btn btn-primary'%>
          <%= submit_tag 'E', value: 'E',class: 'btn btn-primary'%>
          <%= submit_tag 'F', value: 'F',class: 'btn btn-primary'%>
          <%= submit_tag 'G', value: 'G',class: 'btn btn-primary'%>
          <%= submit_tag 'H', value: 'H',class: 'btn btn-primary to-right-15'%>

          <%= label_tag 'Par pays' %>
          <%= select_tag 'team', options_for_select(@teams.collect{ |u| u }), class: 'form-control', :prompt => "#{params[:team]}", :onchange => "this.form.submit()" %>
          <%= submit_tag 'Tous les matchs', value: 'Tous les matchs',class: 'btn btn-default to-left-15'%>
        <% end %>
      </div>
    </div>
    <div class="row to-bottom-30">
      <% @games.each do |game| %>
        <% if game.poule.name == params[:commit] %>
          <%= link_to game_path(game) do  %>
            <div class="col-xs-12 col-md-6">
              <div  class="match-card">

                <div class="central-game-info">
                  <div class="home-team-lg text-center">
                    <p><%="#{game.team1}"%></p>
                    <%= image_tag(game.domflag) %>
                  </div>
                  <div class="final-score">
                    <div class="final-score-dom"><%= game.score1 %></div>
                    <div class="final-score-ext"><%= game.score2 %></div>
                  </div>
                  <div class="ext-team-lg text-center">
                    <p><%= "#{game.team2}" %></p>
                    <%= image_tag(game.extflag) %>
                  </div>
                </div>

                <% if current_user.admin == true %>
                  <div class="admin-games-links">
                    <p>
                      <%= link_to 'edit', edit_game_path(game) %> -
                      <%= link_to 'delete', game_path(game), method: :delete, data: {confirm: "Are you sure?"} %>
                    </p>
                  </div>
                <% end %>

                <div class="your-index-bet">
                  <% current_user.bets.each do |bet| %>
                    <% if bet.game.team1 == game.team1 && bet.game.team2 == game.team2 %>
                      <p>Ton pari : <%= bet.score1bet %> - <%= bet.score2bet %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>


<!-------------------- en cas de recherche avec le select pays------------>
<% else %>

  <div class="container">
    <div class="allgames-h1">
      <h1><%= params[:team]%> : tous les matchs</h1>
      <div class="colored-underline2">
      </div>
      <div class="form-selector">
        <%= form_tag games_path, method: :get, class: 'form-inline' do %>
          <%= label_tag 'Par groupe' %>
          <%= submit_tag 'A', value: 'A',class: 'btn btn-primary to-left-15'%>
          <%= submit_tag 'B', value: 'B',class: 'btn btn-primary'%>
          <%= submit_tag 'C', value: 'C',class: 'btn btn-primary'%>
          <%= submit_tag 'D', value: 'D',class: 'btn btn-primary'%>
          <%= submit_tag 'E', value: 'E',class: 'btn btn-primary'%>
          <%= submit_tag 'F', value: 'F',class: 'btn btn-primary'%>
          <%= submit_tag 'G', value: 'G',class: 'btn btn-primary'%>
          <%= submit_tag 'H', value: 'H',class: 'btn btn-primary to-right-15'%>

          <%= label_tag 'Par pays' %>
          <%= select_tag 'team', options_for_select(@teams.collect{ |u| u }), class: 'form-control', :prompt => "#{params[:team]}", :onchange => "this.form.submit()" %>
          <%= submit_tag 'Tous les matchs', value: 'Tous les matchs',class: 'btn btn-default to-left-15'%>
        <% end %>
      </div>
    </div>
    <div class="row to-bottom-30">
      <% @games.each do |game| %>
        <% if game.team1 == params[:team].capitalize || game.team2 == params[:team].capitalize  || game.poule == params[:team].capitalize  %>
          <%= link_to game_path(game) do  %>
            <div class="col-xs-12 col-md-6">
              <div  class="match-card">

                <div class="central-game-info">
                  <div class="home-team-lg text-center">
                    <p><%="#{game.team1}"%></p>
                    <%= image_tag(game.domflag) %>
                  </div>
                  <div class="final-score">
                    <div class="final-score-dom"><%= game.score1 %></div>
                    <div class="final-score-ext"><%= game.score2 %></div>
                  </div>
                  <div class="ext-team-lg text-center">
                    <p><%= "#{game.team2}" %></p>
                    <%= image_tag(game.extflag) %>
                  </div>
                </div>

                <% if current_user.admin == true %>
                  <div class="admin-games-links">
                    <p>
                      <%= link_to 'edit', edit_game_path(game) %> -
                      <%= link_to 'delete', game_path(game), method: :delete, data: {confirm: "Are you sure?"} %>
                    </p>
                  </div>
                <% end %>

                <div class="your-index-bet">
                  <% current_user.bets.each do |bet| %>
                    <% if bet.game.team1 == game.team1 && bet.game.team2 == game.team2 %>
                      <p>Ton pari : <%= bet.score1bet %> - <%= bet.score2bet %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<!-------------------- en cas de recherche ------------>
<% end %>


<div class="container">
  <% if current_user.admin == true %>
    <%= link_to 'Add a match', new_game_path, class: 'btn btn-warning'  %>
  <% end %>
</div>







