<div class="container">
<!--------------- INFORMATIONS DU MATCH ---------------->
  <div class="banner-show text-center to-bottom-30">

    <div class="game-and-group">
      <h1><%= @game.team1 %> - <%= @game.team2 %></h1>
      <p>Groupe <%= @game.poule.name %> - <%= @game.date %> juin 2018 - <%= @game.hour + 2%>H</p>

      <% if Game.exists?(@game.id - 1)%>
        <%= link_to game_path(@game.id-1) do %>
          <i class="fas fa-chevron-circle-left whitefa"></i>
        <% end %>
      <% end %>
      <% if Game.exists?(@game.id + 1) %>
        <%= link_to game_path(@game.id+1) do %>
          <i class="fas fa-chevron-circle-right whitefa"></i>
        <% end %>
      <% end %>

    </div>

    <div class="drapeaux">
      <div class="dom-side">
        <%= image_tag("#{@game.domflag}") %>
      </div>
      <% if @game.score1 %>
        <div class="score-dom-show">
          <h1><%= @game.score1 %></h1>
        </div>
        <div class="score-dom-show">
          <h1><%= @game.score2 %></h1>
        </div>
      <% else %>
        <h3 class="not-played-show">Match pas encore joué</h3>
      <% end %>
      <div class="ext-side">
        <%= image_tag("#{@game.extflag}") %>
      </div>
    </div>



    <div class="ton-prono-on-show">
      <% if current_user.bets != [] %>
        <% pari = current_user.bets.select { |bet| bet.game_id == @game.id}  %>
        <% if current_user.bets != [] && pari != [] %>
            <p style="font-size: 32px; font-weight: bolder;">Ton prono : <%= pari.first.score1bet %> - <%= pari.first.score2bet %></p>
        <% else %>
          <p>Tu n'as pas encore donné ton prono</p>
        <% end %>
      <% end %>
    </div>
  </div>


<!--------------- DONNE TON PRONO --------------------->
<% if (@game.hour>Time.now.hour ||  @game.date != Date.today.day) && @game.date>= Date.today.day %>
   <% if current_user.bets != [] && pari != [] %>
      <div class="new-bet">
        <%= link_to 'Change ton prono', edit_bet_path(pari), class: 'btn btn-info' %>
      </div>
    <% else %>
      <div class="new-bet">
        <%= simple_form_for [@game, @bet], html: { class: 'form-inline text-center' } do |f| %>
          <%= f.input :score1bet, label: "#{@game.team1}"%>
          <%= f.input :score2bet, label: "#{@game.team2}"%>
          <%= f.button :submit, 'Valider', class: 'btn btn-primary', style:'margin-left: 23px; margin-right: 23px;' %>
        <% end %>
      </div>
    <% end %>
<% else %>
  <div class="new-bet">
    <p>Paris clos pour ce match !</p>
  </div>
<% end %>




<!--------------- PARIS DU GROUPE --------------------->
  <div>
    <table class="table table-striped">
      <% if current_user.group && current_user.group.id != 1 %>
        <div class="h2paris-du-groupe">
          <h2>Les paris du groupe <%= current_user.group.name %></h2>
        </div>
        <div class="add-space">
        </div>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Pseudo</th>
            <th scope="col">Equipe 1</th>
            <th scope="col">Equipe 2</th>
          </tr>
        </thead>
        <tbody>
          <% @game.bets.each do |bet| %>
            <% if bet.user.group == current_user.group %>
              <tr>
                <th scope="row">
                  <%= cl_image_tag bet.user.photo, height: 30, width: 30, crop: :fill, :gravity=>"face", :radius=>"max", default_image: 'avatar' %>
                </th>
                <td>
                  <%= link_to user_path(bet.user) do %>
                    <% if bet.user.pseudo %>
                      <%= bet.user.pseudo %>
                    <% else %>
                      <%= bet.user.email %>
                    <% end %>
                  <% end %>


                </td>
                <td><%= bet.score1bet %></td>
                <td><%= bet.score2bet %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
        </table>
      <% else %>
        <div class="h2paris-du-groupe">
          <h2>Les paris de ton groupe</h2>
        </div>
        <p>Tu n'as pas encore de groupe !</p>
        <p>Si tu veux comparer tes paris à ceux de tes potes, go sur ton profil, section 'Edit' pour rejoindre un groupe !!! <br>
        Profites-en aussi pour changer ou ajouter ton pseudo si ce n'est pas déjà fait pour bien peser dans le game</p>
      <% end %>
  </div>
<!--------------- PARIS DU GROUPE --------------------->



<!--------------- TOUS LES PARIS ---------------->
  <div>
    <div class="add-space">
    </div>
    <h2>Les pronostics de tous</h2>
    <div class="add-space">
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Pseudo</th>
          <th scope="col">Equipe 1</th>
          <th scope="col">Equipe 2</th>
        </tr>
      </thead>
      <tbody>
        <% @game.bets.each do |bet| %>
          <tr>
            <th scope="row"><%= cl_image_tag bet.user.photo, height: 30, width: 30, crop: :fill, :gravity=>"face", :radius=>"max", default_image: 'avatar.jpg' %></th>
            <td>

              <%= link_to user_path(bet.user) do  %>
                <% if bet.user.pseudo %>
                  <%= bet.user.pseudo %>
                <% else %>
                  <%= bet.user.email %>
                <% end %>
              <% end %>

            </td>
            <td><%= bet.score1bet %></td>
            <td><%= bet.score2bet %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<!--------------- ITERATION SUR LES PARIS ---------------->

  <%= link_to 'Back all games', games_path, class: 'btn btn-default' %>



</div>





