<div class="container">
  <h1><%= @game.team1 %> - <%= @game.team2 %></h1>
  <div>
    <h2>Resultat</h2>
    <% if @game.score1 && @game.score2 %>
      <p><%= "#{@game.score1} - #{@game.score2}" %></p>
    <% else %>
      <p>Not played yet</p>
    <% end %>
  </div>

  <%= link_to 'Donne ton prono', new_game_bet_path(@game) %>



  <div>
    <h2>Les pronostics</h2>
<!--------------- ITERATION SUR LES PARIS ---------------->
    <% @game.bets.each do |bet| %>
      <div class="game-bet-card">
        <p><%= bet.user.pseudo %></p>
        <p>
          <%= bet.game.team1 %>
          <%= bet.score1bet %>
          -
          <%= bet.game.team2 %>
          <%= bet.score2bet %>
          <%= link_to 'Change ton prono', edit_bet_path(bet) %>
        </p>
      </div>
    <% end %>
<!--------------- ITERATION SUR LES PARIS ---------------->




  </div>








  <%= link_to 'Back all games', games_path %>


</div>



