<div class="container">
<!--------------- INFORMATIONS DU MATCH ---------------->
  <h1><%= @game.team1 %> - <%= @game.team2 %></h1>
    <%= image_tag("#{@game.domflag}") %>
    -
    <%= image_tag("#{@game.extflag}") %>

  <p>(Groupe <%= @game.poule %>)</p>
  <div>
    <% if Game.exists?(@game.id - 1)%>
      <%= link_to 'Match précédent', game_path(@game.id-1)  %>
    <% end %>
    <% if Game.exists?(@game.id + 1) %>
      <%= link_to 'Match suivant', game_path(@game.id+1)  %>
    <% end %>

    <h2>Resultat</h2>
    <% if @game.score1 && @game.score2 %>
      <p><%= "#{@game.score1} - #{@game.score2}" %></p>
    <% else %>
      <p>Not played yet</p>
    <% end %>
  </div>

  <%= link_to 'Donne ton prono', new_game_bet_path(@game) %>

<!--------------- INFORMATIONS DU MATCH ---------------->




<!--------------- PARIS DU GROUPE --------------------->
  <div>
    <h2>Les paris du groupe <%= current_user.group %></h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Pseudo</th>
          <th scope="col">Team 1</th>
          <th scope="col">Team 2</th>
        </tr>
      </thead>
      <tbody>
        <% if current_user.group %>
          <% @game.bets.each do |bet| %>
            <% if bet.user.group == current_user.group %>
              <tr>
                <th scope="row">1</th>
                <td>
                  <% if bet.user.pseudo %>
                    <%= bet.user.pseudo %>
                  <% else %>
                    <%= bet.user.email %>
                  <% end %>
                  <% if policy(bet).update? %>
                    <%= link_to 'Change ton prono', edit_bet_path(bet) %>
                  <% end %>
                </td>
                <td><%= bet.score1bet %></td>
                <td><%= bet.score2bet %></td>
              </tr>
            <% end %>
          <% end %>
      </tbody>
      </table>
        <% else %>
          <p>Tu n'as pas encore de groupe !</p>
          <p>Si tu veux comparer tes paris à ceux de tes potes, go sur ton profil, section 'Edit' pour rejoindre un groupe !!! <br>
          Profites-en aussi pour changer ou ajouter ton pseudo si ce n'est pas déjà fait pour bien peser dans le game</p>
        <% end %>
  </div>
<!--------------- PARIS DU GROUPE --------------------->



<!--------------- TOUS LES PARIS ---------------->
  <div>
    <h2>Les pronostics de tous</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <% @game.bets.each do |bet| %>
          <tr>
            <th scope="row">1</th>
            <td>
              <% if bet.user.pseudo %>
                <%= bet.user.pseudo %>
              <% else %>
                <%= bet.user.email %>
              <% end %>
              <% if policy(bet).update? %>
                <%= link_to 'Change ton prono', edit_bet_path(bet) %>
              <% end %>
            </td>
            <td><%= bet.score1bet %></td>
            <td><%= bet.score2bet %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<!--------------- ITERATION SUR LES PARIS ---------------->

  <%= link_to 'Back all games', games_path %>



</div>





